spring:
  messages:
    basename: lang.messages
  liquibase:
    enabled: true
  datasource:
    hikari:
      auto-commit: false
    url: jdbc:mysql://localhost:3306/search_engine?allowPublicKeyRetrieval=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: ПИФСЛ
  jpa:
    hibernate:
      ddl-auto: validate
      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 30
        dialect: org.hibernate.dialect.MySQL5Dialect
        enable_lazy_load_no_trans: true
        order_inserts: true
        generate_statistics: true
    open-in-view: false

logging:
  level:
    root: info
  file:
    name: logs/rootLog.log

indexing-settings:
  sites:
#    - url: http://www.playback.ru/
#      name: playback
#    - url: https://metanit.com
#      name: meta
    - url: https://skillbox.ru/
      name: skill




