spring:
  messages:
    basename: lang.messages
  liquibase:
    enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/search_engine?allowPublicKeyRetrieval=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: ПИФСЛ
  jpa:
    hibernate:
      ddl-auto: validate
      use-new-id-generator-mappings: false
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        enable_lazy_load_no_trans: true
    open-in-view: false

logging:
  level:
    root: info
  file:
    name: logs/rootLog.log

indexing-settings:
  sites:
    - url: https://metanit.com
      name: meta
    
    - url: http://www.playback.ru/
      name: playback
