spring:
  messages:
    basename: lang.messages
  liquibase:
    enabled: true
  datasource:
#    hikari:
#      auto-commit: false
    url: jdbc:postgresql://localhost:5432/search_engine?reWriteBatchedInserts=true&stringtype=unspecified&allowPublicKeyRetrieval=true&useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: postgres
    password: GBACK
  jpa:
    hibernate:
      ddl-auto: validate
      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 50
          fetch_size: 50
        dialect: org.hibernate.dialect.PostgreSQLDialect
        enable_lazy_load_no_trans: true
        order_inserts: true
        generate_statistics: true
        order_updates: true
    open-in-view: false

logging:
  level:
    root: info
  file:
    name: logs/rootLog.log

indexing-settings:
  sites:
    - url: http://www.playback.ru/
      name: playback
#    - url: https://metanit.com
#      name: meta
#    - url: https://skillbox.ru/
#      name: skill




